{% extends 'base.html' %}

{% block content %}
<h2>🏠 Welcome to Smart City Reporting</h2>

<p>
Laporkan masalah kota dengan mudah dan cepat.
</p>

<div class="d-flex gap-2">
    {% if user.is_authenticated %}
        <a href="{% url 'add_report' %}" class="btn btn-success">
            ➕ Buat Laporan
        </a>
        <a href="{% url 'report_list' %}" class="btn btn-info">
            📋 Lihat Laporan
        </a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">
            🔐 Login
        </a>
        <a href="{% url 'register' %}" class="btn btn-success">
            ✍️ Daftar Citizen
        </a>
    {% endif %}
</div>

{% endblock %}