<h2>Detail Laporan</h2>

<p><strong>Title:</strong> {{ object.title }}</p>
<p><strong>Category:</strong> {{ object.category }}</p>
<p><strong>Description:</strong> {{ object.description }}</p>
<p><strong>Location:</strong> {{ object.location }}</p>
<p><strong>Status:</strong> {{ object.status }}</p>

<hr>

<h3>Ubah Status</h3>

<form method="post" action="{% url 'update_status' object.id %}">
    {% csrf_token %}
    
    <select name="status">
        <option value="REPORTED">REPORTED</option>
        <option value="IN_PROGRESS">IN PROGRESS</option>
        <option value="RESOLVED">RESOLVED</option>
    </select>
    
    <button type="submit">Update Status</button>
</form>

<br>
<a href="/">Kembali</a>