{% extends 'base.html' %}

{% block content %}
<div class="card shadow p-4">

    <h2 class="mb-4">✏️ Edit Laporan</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/reports/">Reports</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Judul</label>
            {{ form.title }}
        </div>

        <div class="mb-3">
            <label class="form-label">Deskripsi</label>
            {{ form.description }}
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            {{ form.status }}
        </div>

        <button type="submit" class="btn btn-primary">
            💾 Update
        </button>

        <a href="{% url 'report_list' %}" class="btn btn-secondary">
            ⬅️ Kembali
        </a>

    </form>

</div>
{% endblock %}

<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/reports/">Reports</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>
</nav>